.MediaList {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 5vw;
  margin-bottom: 3vw;
  color: #e94560;
  font-size: 90%;
}

.MediaList > li {
  display: flex;
  align-items: center;
  min-width: 10vh;
  background-color: transparent;
  flex-direction: column;
  margin: 1vh;
  border-radius: 5px;
  margin-bottom: 5vh;
}

.MediaList img {
  width: 10vh;
  height: 10vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.MediaList img:hover {
  filter: invert(50%) sepia(57%) saturate(7449%) hue-rotate(330deg)
    brightness(101%) contrast(83%);
}
