nav {
  color: white;
  background-color: #16213eab;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 200px;
}

nav h1,
nav h3 {
  padding: 0;
  margin-left: 2vw;
  margin-bottom: 0;
}

nav h1 {
  font-size: 4vh;
  color: #e94560;
}

nav h3 {
  font-weight: normal;
}

.FancyButton {
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
  display: flex;
  border-width: 0;
  cursor: pointer;
  margin: auto;
  margin-left: 2vw;
  padding: 0;
  transition: margin 200ms ease-in-out;
  -webkit-transition: margin 200ms ease-in-out;
}
.CloseButton {
  background-color: #16213eab;
  border-radius: 25%;
  padding: 1.5vh;
  margin-left: 50%;
  position: fixed;
  margin-top: 48vh;
  width: 2.5vh;
  height: 4vh;
}
.FancyButton img {
  width: 5vh;
  height: 5vh;
  margin: auto;
  margin-left: 0;
  transition: filter 0.1s ease-in-out;
  -webkit-transition: filter 0.1s ease-in-out;
}

/* 
filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
brightness(95%) contrast(80%); */

.FancyButton h2 {
  color: white;
  width: 30%;
  min-width: 100px;
  text-align: left;
  margin: auto;
  margin-left: 0;
  padding-left: 0;
  transition: color 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;
}

.FancyButton:hover h2 {
  color: #e94560;
}

.FancyButton:hover img {
  filter: invert(50%) sepia(57%) saturate(7449%) hue-rotate(330deg)
    brightness(101%) contrast(83%);
}

.FancyButton:hover {
  margin-left: 15%;
}
