.Projects {
  margin: auto;
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.Projects div {
  background-color: #16213e;
  margin: auto;
  margin-bottom: 1vh;
  padding: 1vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 0.5vh solid transparent;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  -webkit-transition: background-color 200ms ease-in-out;
  font-weight: bold;
}

.Projects div:hover {
  background-color: #0f3460;
}

.Projects div img {
  height: 10vh;
  width: 10vh;
  margin: auto;
  border-radius: 1vh;
  margin-top: 2vh;
}

.Header {
  padding: 2vh;
  text-align: center;
  margin-top: 10vh;
}

.Header h1 {
  color: rgb(209, 203, 203);
  margin: auto;
  margin-bottom: 3vh;
  font-size: 5vh;
}

.Header h3 {
  font-weight: normal;
}

.Header .Image {
  width: 50vw;
  height: 50vh;
  border-radius: 5px;
  margin: auto;
}

.Header .Icon {
  height: 15vh;
  width: 15vh;
  margin: auto;
}

.Header div a {
  background-color: #0f3460;
  font-weight: bold;
  border-radius: 5px;
  padding: 1vh;
  text-decoration: none;
  color: white;
  transition: color 200ms ease-in-out;
}

.Header div a:hover {
  color: #e94560;
}
